body{
    background-color: lightgray;
}

.container-person{
    background-color: white;
    border-radius: 10px;
    border: 1px solid lightgray;
    padding: 5px 5px;
    margin-top: 5px;
}

/*para alinear los botones y cuadro de busqueda*/
.btn-group, .btn-group-vertical {
    position: absolute !important;
}